html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

a {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 100%;
    /* vertical-align: baseline; */
    background: transparent;
    text-decoration: none;
    color: #333;
}

a:visited {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    word-break: break-all;
    font-family: "Helvetica", "Arial", "Hiragino Kaku Gothic ProN", "Hiragino Sans", YuGothic, "Yu Gothic", "メイリオ", Meiryo, sans-serif;
    /* font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "メイリオ", sans-serif; */
    /* font-family: 'Noto Sans JP', -apple-system, BlinkMacSystemFont, ".SFNSDisplay-Regular", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif; */
    font-weight: 500;
    color: #333;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
    letter-spacing: 0.1em;
}

h2 {
    background-color: #5da67f;
    color: #FFF;
    padding: 0.5em;
    margin: 2.5em 0 0.7em;
    font-size: 1.2em;
    line-height: 1.6;
    border-radius: 3px;
}

h3 {
    color: #444;
    border-left: solid 5px #5da67f;
    margin: 2.6em 0 1em;
    font-size: 1.2em;
    line-height: 1.5;
}

h4 {
    color: #444;
    border-bottom: solid 1px #5da67f;
    margin: 2.3em 0 0.7em;
    font-size: 1.1em;
    line-height: 2;
}

p {
    line-height: 1.93;
    font-size: 15px;
    font-weight: 400;
    color: #252525;
    white-space: pre-wrap;
}

img {
    width: 100%;
    object-fit: cover;
}

input::placeholder {
    color: #D8D8D8;
}

.InputDefault {
    width: 100%;
    background: #FFF;
    padding: 10px;
    color: #333;
    border: 1px solid #CCC;
    box-sizing: border-box;
    border-radius: 3px;
    font-style: normal;
}

.BtnDefault {
    letter-spacing: "0.1em";
    padding: 10px 20px;
    background-color: #FFF;
    background-color: #5da67f;
    color: #FFF;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    display: block;
    width: -webkit-fill-available;
    width: 100%;
}